@font-face {
    font-family: myFont1;
    src: url(fonts/pxiEyp8kv8JHgFVrJJfecg.ttf);
}

html {
    scroll-behavior: smooth;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body {
height: 100%;
width: 100%;

}

.nav{
    background-color: #918f9400;
    color: white;
}
.navbar-collapse ul li:hover{
    border-bottom: solid 1px #ec5325;
   
}
table,th,td{
    border-collapse: collapse;
}
th,td{
    padding: 10px 0px;
}

.about-me .left{

background-color: white;
}

.about-me .left img{
bottom: 0;
}
.about-me .right p{
color: white; 
}
.about-me .right {
display: flex;
justify-content: space-evenly;
flex-direction: column;
padding: 0 20px;
}
.about-me .right td {
color: white;
}
.about-me {
font-family: myFont1;
}

/* 
.banner-text-img img{
filter: drop-shadow(6px 6px 50px rgb(255, 0, 0));
} */





.box1{
    width: 30% ;
    height: 50% ;
    background-color: skyblue;
}









.round{
    transition: all 1s ease-in-out 0s;
    background-color: #EC5325;
}

.round:hover{
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}
.round h2{
    transition: all 1s ease-in-out 0s;
    color: #ffffff;
}

.round:hover > h2{
  
    transform: scale(2) !important;
    color: rgb(0, 0, 0);
}




