

html {
    scroll-behavior: smooth;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body {
height: 100%;
width: 100%;
font-family: "Poppins", sans-serif;

}

.nav{
    background-color: #918f9400;
    color: white;
}
.navbar-collapse ul li:hover{
    border-bottom: solid 1px #ff3a72;
   
}
table,th,td{
    border-collapse: collapse;
}
th,td{
    padding: 10px 0px;
}

.about-me .left{

background-color: white;
}

.about-me .left img{
bottom: 0;
}
.about-me .right p{
color: white; 
}
.about-me .right {display: flex;justify-content: space-evenly;flex-direction: column;padding: 20px 30px;}
.about-me .right td {
color: white;
}


/* 
.banner-text-img img{
filter: drop-shadow(6px 6px 50px rgb(255, 0, 0));
} */





.box1{
    width: 30% ;
    height: 50% ;
    background-color: skyblue;
}









.round{
    transition: all 1s ease-in-out 0s;
    background-color: #ff3a72;
}

.round:hover{
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}
.round h2{
    transition: all 1s ease-in-out 0s;
    color: #ffffff;
}

.round:hover > h2{
  
    transform: scale(2) !important;
    color: rgb(0, 0, 0);
}


.figma{
    width: 100%;
    height: fit-content;

}
.figma .container{
    display: flex;
    flex-wrap: wrap;

}
.figma .container .frist {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

}
.figma .container .frist img {
width: 50%;
}








/****Gallery****/

.gallery{
    width: 100%;
    height: fit-content;
    
}
.gallery .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .container img{
    width: 200px;
    margin: 2%;
}

.gallery {
    width: 100%;
    height: fit-content;
}

.gallery .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .container img {
    width: 200px;
    margin: 2%;
    cursor: pointer;
    
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/******************************************************************
* Here our btn  
*******************************************************************/

.btn2{
    margin: 50px auto;
    background-color: rgb(135, 40, 89) !important;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30PX;
    transition: box-shadow ease 0.4s;
    position: relative;
    padding: 5px 20px 0 20px;

}
.btn2 img{
    position: absolute;
   display: none;
    width: 50%;
    
}
.figma .container .frist a{
    text-decoration: none;
}
.btn2 p {
    text-decoration: none;
    transition: box-shadow ease 0.2s;
    
}
.btn2:hover{
    box-shadow: 0 0 5px rgb(255, 47, 206), 0 0 10px rgb(255, 47, 206),0 0 15px rgb(255, 47, 206),0 0 20px rgb(255, 47, 206);
}
.btn2:hover >p{
    text-shadow: 0 0 5px rgb(255, 47, 206), 0 0 10px rgb(255, 47, 206),0 0 15px rgb(255, 47, 206),0 0 20px rgb(255, 47, 206);
}
.btn2:hover > img{
  display: block;
animation: star 2s forwards  ease;
}

@keyframes star {
    from{
        opacity: 0;
        left: 0;
        top: 0;
    }
    to{
        opacity: 1;
        left: -10%;
        top: -50%;
        
    }
}